<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regrassion_Suite" parallel = "tests" thread-count="3">

<test name="Test case 1">
    <classes>
      <class name="com.selenium.testing.Login_Mutualfund"/>
      
    </classes>
  </test> <!-- Test -->

<test name="Test case 2">
    <classes>
      <class name="com.selenium.testing.SoftAssert_Code"/>
      
    </classes>
  </test> <!-- Test -->

<test name="Test case 3">
    <classes>
      <class name="com.selenium.testing.HardAssert"/>
      
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
